@{
    ViewData["Title"] = "Actors";
}
@model Actor

<div class="text-center">
    <div class="row">

        <div class="col-6">
            <h2>Add Actor</h2>
            <form action="/actor/add" method="post">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="col-6">
            <h2>Actors</h2>
            @foreach (Actor a in ViewBag.AllActors)
            {
                <p><a href="/actor/@a.ActorId">@a.Name</a></p>
            }
        </div>
    </div>
</div>
